<p>We will mostly follow the curriculum of the Data Carpentry lesson <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a>.</p>

<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start</a>, <a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:50</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:30</td>        <!-- time    -->
        <td>Lunch break (lunch not provided)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong></a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:00</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>15:20</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong> (continued)</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with <strong><code>ggplot2</code></strong></a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:50</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with <strong><code>ggplot2</code></strong> (continued)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:30</td>        <!-- time    -->
        <td>Lunch break (lunch not provided)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td>Foundations of R programming: <a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/">Control Flow</a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/10-functions/">Functions Explained</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:00</td>        <!-- time    -->
        <td>Coffee break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:20</td>        <!-- time    -->
        <td>Foundations of reproducible scientific analysis: <a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/">Producing Reports With <strong><code>knitr</code></strong></a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/">Writing Good Software</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
